main {
  color: #3c3732;
}

#sec1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

#sec1 h1 {
  font-size: 2rem;
}

#sec1 span {
  font-size: 3rem;
}

#sec1 img {
  width: 30vw;
}

#sec1 p {
  font-size: 1.3rem;
  font-weight: 400;
}

#sec2 {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

#sec2 h2 {
  text-align: center;
  font-size: 2rem;
  /* color: #4e4944; */
  color: #3c3732;
}

#sec2 img {
  margin-top: 1rem;
  width: 40vw;
  border-radius: 2rem;
}

#sec2 p {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  text-align: justify;
}

#sec3 {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

#sec3 h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

#lang {
  font-size: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#part1 i,
#part2 i {
  margin-right: 10px;
  margin-bottom: 2rem; /* Menambahkan jarak antara ikon */
}

#lang .icon {
  color: #60574e;
}

#lang .icon:hover {
  color: #2d2b26; /* Mengubah warna saat dihover */
}

#sec4 {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

#sec4 h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

#example {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Membungkus item ke baris baru saat lebar tidak mencukupi */
  justify-content: center; /* Menengahkan item secara horizontal */
  gap: 10px;
}

#example img {
  width: 20rem;
}

.ex {
  background-color: antiquewhite;
  padding: 20px;
}

.ex button {
  background-color: #9d9583;
  padding: 8px;
  border-radius: 0.5rem;
  border: none;
  display: block; /* Mengubah tombol menjadi elemen blok */
  margin: 0 auto; /* Menengahkan tombol secara horizontal */
  text-align: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 1rem;
}

.ex button:hover {
  background-color: #4a473f;
  color: #fdf9f1;
  scale: 1.05;
}

.ex a {
  text-decoration: none;
}

.ex h4 {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.ex img {
  margin-bottom: 1rem;
}

#sec4 p {
  margin-top: 0.6rem;
  font-size: 1.2rem;
}

/* 1000px kebawah */

@media screen and (max-width: 1000px) {
  #sec1 h1 {
    font-size: 1.5rem;
  }
  #sec1 span {
    font-size: 2.5rem;
  }
  #example img {
    width: 18rem;
  }
}

@media screen and (max-width: 900px) {
  #sec3 h3 {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  #lang {
    font-size: 5.5rem;
  }

  #example img {
    width: 15rem;
  }

  #sec2 img {
    width: 50vw;
    border-radius: 1.5rem;
  }

  #sec1 img {
    width: 40vw;
  }
}

@media screen and (max-width: 600px) {
  #example img {
    width: 16rem;
  }
  #lang {
    font-size: 4.5rem;
  }

  #sec1 p {
    font-size: 1rem;
  }

  #sec1 h1 {
    font-size: 2rem;
  }

  #sec1 span {
    font-size: 2.5rem;
  }

  #sec1 img {
    width: 50vw;
  }

  #sec2 p {
    font-size: 1rem;
  }

  #sec2 img {
    width: 60vw;
    border-radius: 1.1rem;
  }

  #sec2 h2 {
    text-align: center;
    font-size: 1.8rem;
  }

  #sec4 p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  #lang {
    font-size: 3rem;
  }
}

@media screen and (max-width: 350px) {
  #example img {
    width: 14rem;
  }
}
