main {
  color: #3c3732;
}

#sec1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

#sec1 img {
  width: 30vw;
}

#sec1 p {
  font-size: 1.2rem;
  font-weight: bold;
}

#sec2 {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

#sec2 h2 {
  text-align: center;
  font-size: 2rem;
  /* color: #4e4944; */
  color: #3c3732;
}

#sec2 img {
  margin-top: 1rem;
  width: 40vw;
  border-radius: 2rem;
}

#sec2 p {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  text-align: justify;
}

#sec3 {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

#sec3 h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

#lang {
  font-size: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#part1 i,
#part2 i {
  margin-right: 10px;
  margin-bottom: 2rem; /* Menambahkan jarak antara ikon */
}

#lang .icon {
  color: #60574e;
}

#lang .icon:hover {
  color: #403c36; /* Mengubah warna saat dihover */
}
